<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d %highlight(%-5level) [%thread] [${appName:-}, %X{egovTraceId:-}] %cyan(%logger{20}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.egovframe" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</Configuration>
